

<div class="text-light">
<div class="row text-dark">
  <div class="bg-light col-sm-12 h-100 text-uppercase">
    <div class=" my-5">
        <div class=" m-5 py-5">
          <ul class="nav nav-pills flex-column">
            <li class="btn" (click)="getUserdata()" routerLink='/userdetails'>
                <h4>Personal Information </h4>
            </li>
            <li class="btn">
                <h4>Carry Bag</h4>
            </li>
            <li class="btn" routerLink='/wishlist'>
              <h4> Wish List </h4>
              </li>
            <li class="btn">
                <h4>Subscriptions</h4>
            </li>
            <li class="btn">
                <h4>Add Offers</h4>
              </li>
          </ul>
      </div>
    </div>
  </div>
</div>

</div>
